

<nav class="navbar navbar-expand-lg bg-info">
  <a class="navbar-brand">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
</nav>



<router-outlet></router-outlet>