<mat-tab-group>
    <mat-tab label="Tasks">
        <div>
            <button class="mt-3 ml-5 btn btn-secondary btn-sm" (click)="navigateback()" >BACK</button>
        </div>
        <div class="card mt-3 ml-5 mr-5"  *ngFor="let item of values;">
            <div class="card-header">
                <mat-checkbox></mat-checkbox>
            </div>
            <div class="card-body">
                <h5 class="card-title">Angular Material Task</h5>
                <p class="card-text">{{item.title}}</p>
                <a href="#" class="btn btn-success ">Open Task</a>
            </div>
        </div>
    </mat-tab>


    <mat-tab label="Posts">
        <div  *ngFor="let item of comments;">
            <div class="card-body ml-5 mr-5 mt-4">
                <div class="h7 mb-2">{{item.email}}</div>
                <a class="card-link" href="#">
                    <h5 class="card-title">{{item.name}}</h5>
                </a>
                <p class="card-text">
                    {{item.body}}
                </p>
            </div>
            <div class="card-footer ml-5 mr-5">
                <button type="button" class="btn btn-primary" (click)="navigateToRoute('')">comment</button>           
            </div>
        </div>
        
    </mat-tab>




    <mat-tab label="Albums">
        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img2.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img2.jpg" alt="loading" width="700" height="500">

            </a>
            <div class="desc">Image Name</div>


        </div>

        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img1.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img1.jpg" alt="loading" width="700" height="500">
            </a>
            <div class="desc">Image Name</div>
        </div>

        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img2.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img2.jpg" alt="loading" width="700" height="500">
            </a>
            <div class="desc">Image Name</div>
        </div>

        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img1.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img1.jpg" alt="loading" width="700" height="500">
            </a>
            <div class="desc">Image Name</div>
        </div>

        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img2.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img2.jpg" alt="loading" width="700" height="500">
            </a>
            <div class="desc">Image Name</div>
        </div>

        <div class="gallery mt-4">
            <a target="_blank" href="\assets\img1.jpg" (click)="navigate('api/user/photos')">
                <img src="\assets\img1.jpg" alt="loading" width="700" height="500">
            </a>
            <div class="desc">Image Name</div>
        </div>

    </mat-tab>
</mat-tab-group>